node_modules
.next
out
dist
build

.env*.local
.env

npm-debug.log
yarn-debug.log
yarn-error.log
bun.lockb

.DS_Store

data/servers/
data/servers-config.json
data/server-pids.json

docker-compose.override.yml

.claude
*.md

mcManagerWeb/data